<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- Main Block -->
    <div class="main-box bg-one feed-page">
        <div class="inner-block py-6 pb-0 position-relative">
            <div class="px-6">
                <h1 class="f-30 mt-3 mb-4">Feed</h1>
                <div class="search-block ps-4 bg-white position-relative">
                    <span class="position-absolute translate-middle top-50"><img src="images/serch.svg" alt=""></span>
                    <input class="form-control" id="search-feed" type="text" placeholder="Search...">
                </div>
            </div>
            <div class="feed-block my-4">
                <div class="row gx-0 gy-4">
                    <% feedItems.forEach(function(feed) { %>
                        <div class="col-12 main-feed">
                            <div class="feed-head px-6 mb-3 d-flex align-items-center justify-content-between">
                                <div class="feed-user d-flex align-items-center">
                                    <div class="usr-icon">
                                        <img src="<%= feed.userIcon %>" alt="">
                                    </div>
                                    <div class="usr-info ps-3">
                                        <h6 class="f-14 m-0 fw-700 user-name">
                                            <%= feed.userName %>
                                                <% if (feed.userPartner) { %>
                                                    <span class="fw-400">and</span>
                                                    <%= feed.userPartner %>
                                                        <% } %>
                                        </h6>
                                        <ul class="time-loc d-flex align-items-center p-0 m-0">
                                            <li>
                                                <%= feed.time %>
                                            </li>
                                            <li>
                                                <%= feed.location %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span><img src="images/more.svg" alt=""></span>
                            </div>
                            <div class="feed-img mb-3">
                                <img class="cover" src="<%= feed.image %>" alt="" post_owner="<%= feed.post_owner %>"
                                    current_user_name="<%= feed.current_user_name %>" post_id="<%= feed.post_id %>"
                                    current_user="<%= feed.current_user %>">
                            </div>
                            <div class="px-6">
                                <p class="f-15 text-black">
                                    <%= feed.description %>
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <ul class="like-comment ps-0 mb-0 list-none d-flex align-items-center">
                                            <li class="<%= feed.liked ? 'active' : '' %>">
                                                <i class="<%= feed.liked ? 'fa-solid fa-heart' : 'fa-regular fa-heart' %>"
                                                    id="like-btn"></i>
                                                <span class="like-counts">
                                                    <%= feed.likes %>
                                                </span>
                                            </li>
                                            <li>
                                                <i class="fa-regular fa-comment"></i>
                                                <span>
                                                    <%= feed.comments %>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <i class="<%= feed.is_saved ? 'fa-solid' : 'fa-regular' %> fa-bookmark"
                                        id="save-post"></i>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
            <span class="add-new position-absolute bottom-0" id="create-new-post"><i
                    class="fa-solid fa-circle-plus"></i></span>
        </div>
        <ul class="bottom-actions d-flex align-items-center justify-content-around mb-0 mt-4">
            <li>
                <a href="#" id="home-btn">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="active">
                <a href="#" id="feed-btn">
                    <i class="fa-regular fa-message"></i>
                    <span>Feed</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-comment-dots"></i>
                    <span>Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="#" id="shop-btn">
                    <i class="fa-solid fa-shop"></i>
                    <span>Shop</span>
                </a>
            </li>
        </ul>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    <script src="https://kit.fontawesome.com/6cdac94a97.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        $(document).ready(function () {
            // const urlParams = new URLSearchParams(window.location.search);
            // const userId = urlParams.get('user_id');
            // const current_user = JSON.parse(localStorage.getItem('currentUser'));
            // if (userId != current_user.id) {
            //     window.location.href = '/';
            // }
            const socket = io();

            function likePost(postId, likerId, postOwnerId, currentUserName) {
                socket.emit('newLike', { postId, likerId, postOwnerId, currentUserName });
            }

            const currentUser = JSON.parse(localStorage.getItem('currentUser')).id;
            $('body').on('click', '#like-btn', function () {
                const $this = $(this);

                const post_id = $(this).parents('.col-12').find('.feed-img img').attr('post_id');
                const user_id = $(this).parents('.col-12').find('.feed-img img').attr('current_user');
                const post_owner = $(this).parents('.col-12').find('.feed-img img').attr('post_owner');
                const current_user_name = $(this).parents('.col-12').find('.feed-img img').attr('current_user_name');

                const token = localStorage.getItem('token');

                $.ajax({
                    url: 'http://localhost:3000/api/postLike/create',
                    type: 'POST',
                    data: JSON.stringify({
                        user_id,
                        post_id
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function (response) {
                        var likeCounts = Number($this.next().text());
                        if (response.data.is_like) {
                            $this.removeClass('fa-regular').addClass('fa-solid');
                            likePost(post_id, user_id, post_owner, current_user_name);
                            likeCounts++;
                            $this.next().text(likeCounts);
                        } else {
                            $this.removeClass('fa-solid').addClass('fa-regular');
                            likeCounts--;
                            $this.next().text(likeCounts);
                        }
                    },
                    error: function (error) {
                        console.error('Error adding like:', error);
                    }
                });
            });

            $('body').on('click', '#save-post', function () {
                const $this = $(this);
                const post_id = $(this).parents('.col-12').find('.feed-img img').attr('post_id');
                const user_id = $(this).parents('.col-12').find('.feed-img img').attr('current_user');

                const token = localStorage.getItem('token');

                $.ajax({
                    url: 'http://localhost:3000/api/savedPost/create',
                    type: 'POST',
                    data: JSON.stringify({
                        user_id,
                        post_id
                    }),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function (response) {
                        if (response.data.is_saved) {
                            $this.removeClass('fa-regular').addClass('fa-solid');
                        } else {
                            $this.removeClass('fa-solid').addClass('fa-regular');
                        }
                    },
                    error: function (error) {
                        console.error('Error saving post:', error);
                    }
                });
            });

            $('#search-feed').on('keyup', function () {
                var searchKeyword = $(this).val().toLowerCase();
                $('.main-feed').each(function () {
                    var ownerName = $(this).find('.user-name').text().toLowerCase().split('and')[0].trim();
                    var partnerName = $(this).find('.user-name').text().toLowerCase().split('and')[1];
                    if (partnerName) {
                        partnerName = partnerName.trim();
                    } else {
                        partnerName = '';
                    }
                    if (ownerName.includes(searchKeyword) || partnerName.includes(searchKeyword)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            $('#create-new-post').click(function () {
                // window.location.href = `/createPost?user_id=${currentUser}`;
                window.location.href = `/createPost`;
            });
            $('#home-btn').click(function () {
                // window.location.href = `/home?user_id=${currentUser}`;
                window.location.href = `/home`;
            });
            $('#feed-btn').click(function () {
                // window.location.href = `/feed?user_id=${currentUser}`;
                window.location.href = `/feed`;
            });
            $('#shop-btn').click(function () {
                // window.location.href = `/products?user_id=${currentUser}`;
                window.location.href = `/products`;
            });
        });
    </script>
</body>

</html>