<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/fonts.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- Main Block -->
    <div class="main-box bg-one">
        <div class="inner-block p-6 h-100 d-flex justify-content-between flex-column">
            <div>
                <a class="d-block mb-3" href="<%= backUrl || '#' %>"><span class="material-symbols-outlined text-black">
                        arrow_back
                    </span></a>
                <h1 class="f-30">Let's start with your phone number.</h1>
                <p class="f-13 mb-5">An OTP will be sent to the entered mobile number
                    for verification.</p>
                <div class="input-phone-number">
                    <label class="form-label">Mobile Number</label>
                    <div class="row g-2">
                        <div class="col-3">
                            <div class="custom-select">
                                <select class="form-select" name="" id="">
                                    <option value="">+91</option>
                                    <!-- Add more country codes here dynamically if needed -->
                                    <% if (countryCodes && countryCodes.length) { %>
                                        <% countryCodes.forEach(code=> { %>
                                            <option value="<%= code %>">
                                                <%= code %>
                                            </option>
                                            <% }) %>
                                                <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="Enter your phone number..."
                                value="<%= phoneNumber || '' %>">
                        </div>
                        <p class="error-msg" style="color:red; display:none"></p>
                    </div>
                </div>
            </div>
            <button class="common-btn loginUser"><span>Proceed</span></button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
        $('.loginUser').click(() => {
            var countryCode = $('select.form-select option:first').text();
            const phoneNumber = $('.form-control').val();
            const data = {
                phone_number: `${countryCode}${phoneNumber}`
            }
            $.ajax({
                type: 'POST',
                url: '/api/user/login',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: (response) => {
                    console.log(response);
                    localStorage.setItem('currentUser', JSON.stringify(response.data));
                    const isExistingUser = response.message.includes('updated');
                    localStorage.setItem('isExistingUser', isExistingUser);
                    window.location.href = `/verifyOtp`;
                },
                error: function (xhr, status, error) {
                    console.log(JSON.parse(xhr.responseText).errors);
                    $('.error-msg').text(JSON.parse(xhr.responseText).errors);
                    $('.error-msg').show();
                }
            });
        });

        $('input.form-control').on('input', function () {
            // const phoneNumber = $(this).val();
            // const errMsg = $('.error-msg');

            // if (phoneNumber.match(/[a-zA-Z]/)) {
            //     errMsg.text('Phone number should not contain alphabets');
            //     errMsg.show();
            // } else if (phoneNumber.length < 10 || phoneNumber.length > 10) {
            //     errMsg.text('Phone number should be 10 digits');
            //     errMsg.show();
            // } else {
            //     errMsg.hide();
            // }
            if ($(this).val() === '') {
                $('.error-msg').hide();
            }
            const phoneNumber = $(this).val();
            const errMsg = $('.error-msg');

            // Only allow numbers
            $(this).val($(this).val().replace(/[^0-9]/g, ''));

            if (phoneNumber.length < 10 || phoneNumber.length > 10) {
                errMsg.text('Phone number should be 10 digits');
                errMsg.show();
            } else {
                errMsg.hide();
            }
        });

    </script>

</body>

</html>